body{
    background:linear-gradient(to bottom, rgb(255, 238, 0), #ad87ff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 45px;
}

.back {
    background: #ffffff;
    padding:6px 12px;
    margin:15px;
	margin-top: 15px;
	margin-bottom: 0;
	margin-left: 20px;
    display:inline;
    border: none;
    border-radius: 10px;
    font-size: 1.25rem;
    cursor: pointer;
    outline: none;
}
table {
  margin-top: 80px;
    background-color: darkorange;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  td, th {
    text-align: left;
    padding:15px;
    color: #000000;
    border-bottom: 1px solid #81818140;
  }